## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis=1, inplace=True)
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [7]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
app_type_vc = application_df["APPLICATION_TYPE"].value_counts()
app_type_vc

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 200
application_types_to_replace = list()
for ind in list(app_type_vc.index):
    if app_type_vc[ind] < cutoff:
        application_types_to_replace.append(ind)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [13]:
# Look at CLASSIFICATION value counts for binning
class_vc = application_df["CLASSIFICATION"].value_counts()

In [14]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_vc[class_vc > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = list()
for ind in list(class_vc.index):
    if class_vc[ind] < cutoff:
        classifications_to_replace.append(ind)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
full_df = pd.get_dummies(application_df)
full_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
5,1,5000,1,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
6,1,31452,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
7,1,7508025,1,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,True,False
8,1,94389,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
9,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False

In [21]:
# Split our preprocessed data into our features and target arrays
X = full_df.drop(["SPECIAL_CONSIDERATIONS_N", "SPECIAL_CONSIDERATIONS_Y"], axis=1)
y = full_df[["SPECIAL_CONSIDERATIONS_N", "SPECIAL_CONSIDERATIONS_Y"]]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/payal/anaconda3/envs/module19/lib/python3.10/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
initializer = tf.keras.initializers.Ones()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=len(X.columns), kernel_initializer=initializer))

nn.add(tf.keras.layers.Dense(units=110, activation="sigmoid", kernel_initializer=initializer))

nn.add(tf.keras.layers.Dense(units=50, activation="relu", kernel_initializer=initializer))

nn.add(tf.keras.layers.Dense(units=20, activation="relu", kernel_initializer=initializer))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu", kernel_initializer=initializer))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 110)               8910

 dense_2 (Dense)             (None, 50)                5550

 dense_3 (Dense)             (None, 20)                1020

 dense_4 (Dense)             (None, 1)                 21

=================================================================
Total params: 18,941
Trainable params: 18,941
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
nn_fit = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 725us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 2/150
804/804 [==============================] - 1s 705us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 3/150
804/804 [==============================] - 1s 702us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 4/150
804/804 [==============================] - 1s 707us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 5/150
804/804 [==============================] - 1s 703us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 6/150
804/804 [==============================] - 1s 706us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 7/150
804/804 [==============================] - 1s 702us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 8/150
804/804 [==============================] - 1s 700us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 9/150
804/804 [==============================] - 1s 701us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 10/150
804/804 [==============================] - 1s 700us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 11/150
804/804 [==============================] - 1s 702us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 12/150
804/804 [==============================] - 1s 704us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 13/150
804/804 [==============================] - 1s 736us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 14/150
804/804 [==============================] - 1s 704us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 15/150
804/804 [==============================] - 1s 743us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 16/150
804/804 [==============================] - 1s 797us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 17/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 18/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 19/150
804/804 [==============================] - 1s 708us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 20/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 21/150
804/804 [==============================] - 1s 718us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 22/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 23/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 24/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 25/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 26/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 27/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 28/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 29/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 30/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 31/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 32/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 33/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 34/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 35/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 36/150
804/804 [==============================] - 1s 723us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 37/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 38/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 39/150
804/804 [==============================] - 1s 714us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 40/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 41/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 42/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 43/150
804/804 [==============================] - 1s 807us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 44/150
804/804 [==============================] - 1s 774us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 45/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 46/150
804/804 [==============================] - 1s 717us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 47/150
804/804 [==============================] - 1s 719us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 48/150
804/804 [==============================] - 1s 720us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 49/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 50/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 51/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 52/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 53/150
804/804 [==============================] - 1s 719us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 54/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 55/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 56/150
804/804 [==============================] - 1s 725us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 57/150
804/804 [==============================] - 1s 714us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 58/150
804/804 [==============================] - 1s 715us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 59/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 60/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 61/150
804/804 [==============================] - 1s 742us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 62/150
804/804 [==============================] - 1s 762us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 63/150
804/804 [==============================] - 1s 721us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 64/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 65/150
804/804 [==============================] - 1s 749us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 66/150
804/804 [==============================] - 1s 750us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 67/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 68/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 69/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 70/150
804/804 [==============================] - 1s 744us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 71/150
804/804 [==============================] - 1s 861us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 72/150
804/804 [==============================] - 1s 766us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 73/150
804/804 [==============================] - 1s 722us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 74/150
804/804 [==============================] - 1s 825us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 75/150
804/804 [==============================] - 1s 758us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 76/150
804/804 [==============================] - 1s 744us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 77/150
804/804 [==============================] - 1s 716us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 78/150
804/804 [==============================] - 1s 726us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 79/150

804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 80/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 81/150
804/804 [==============================] - 1s 718us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 82/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 83/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 84/150
804/804 [==============================] - 1s 708us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 85/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 86/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 87/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 88/150
804/804 [==============================] - 1s 718us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 89/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 90/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 91/150
804/804 [==============================] - 1s 707us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 92/150
804/804 [==============================] - 1s 707us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 93/150
804/804 [==============================] - 1s 708us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 94/150
804/804 [==============================] - 1s 709us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 95/150
804/804 [==============================] - 1s 747us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 96/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 97/150
804/804 [==============================] - 1s 731us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 98/150
804/804 [==============================] - 1s 857us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 99/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 100/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 101/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 102/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 103/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 104/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 105/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 106/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 107/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 108/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 109/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 110/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 111/150
804/804 [==============================] - 1s 718us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 112/150
804/804 [==============================] - 1s 749us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 113/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 114/150
804/804 [==============================] - 1s 713us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 115/150
804/804 [==============================] - 1s 714us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 116/150
804/804 [==============================] - 1s 711us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 117/150
804/804 [==============================] - 1s 701us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 118/150
804/804 [==============================] - 1s 700us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 119/150
804/804 [==============================] - 1s 701us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 120/150
804/804 [==============================] - 1s 701us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 121/150
804/804 [==============================] - 1s 701us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 122/150
804/804 [==============================] - 1s 700us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 123/150
804/804 [==============================] - 1s 707us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 124/150
804/804 [==============================] - 1s 701us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 125/150
804/804 [==============================] - 1s 766us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 126/150
804/804 [==============================] - 1s 776us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 127/150
804/804 [==============================] - 1s 708us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 128/150
804/804 [==============================] - 1s 708us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 129/150
804/804 [==============================] - 1s 710us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 130/150
804/804 [==============================] - 1s 706us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 131/150
804/804 [==============================] - 1s 708us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 132/150
804/804 [==============================] - 1s 707us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 133/150
804/804 [==============================] - 1s 704us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 134/150
804/804 [==============================] - 1s 704us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 135/150
804/804 [==============================] - 1s 727us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 136/150
804/804 [==============================] - 1s 712us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 137/150
804/804 [==============================] - 1s 779us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 138/150
804/804 [==============================] - 1s 764us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 139/150
804/804 [==============================] - 1s 714us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 140/150
804/804 [==============================] - 1s 744us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 141/150
804/804 [==============================] - 1s 723us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 142/150
804/804 [==============================] - 1s 730us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 143/150
804/804 [==============================] - 1s 738us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 144/150
804/804 [==============================] - 1s 720us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 145/150
804/804 [==============================] - 1s 730us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 146/150
804/804 [==============================] - 1s 725us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 147/150
804/804 [==============================] - 1s 735us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 148/150
804/804 [==============================] - 1s 725us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 149/150
804/804 [==============================] - 1s 728us/step - loss: 7.6246 - accuracy: 0.5000
Epoch 150/150
804/804 [==============================] - 1s 723us/step - loss: 7.6246 - accuracy: 0.5000

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 7.6246 - accuracy: 0.5000 - 146ms/epoch - 545us/step
Loss: 7.624631881713867, Accuracy: 0.5

In [35]:
# Export our model to HDF5 file
nn.save(filepath="AlphabetSoupCharity.h5", save_format="h5")